:import "base.html"
:@load_lib('bootstrap')
:@load_lib('twitter_feed_tags')
:@load_lib('backend_utils')
:@body_class = (user.is_authenticated() != True) and 'home' or ''

:%content
    :div(_class="row")
        :div(_class="col-xs-5")
            :h2
                All Tweets
        :div(_class="col-xs-7")
            :import "pagination/pagination.html"
            :a(href="%s?refresh=1" % url("all_feeds"), _class="btn btn-sm btn-primary pull-right", style="margin-top: 22px")
                <i class="fa fa-refresh"></i>

    :div(_class='col-3-flex')
        :for tweet in tweets
            :div(_class="card clearfix")
                <div class="card-content">
                    <div class="title"><strong>${tweet.author}</strong>&nbsp;<span style="color: #999">@${tweet.author.username} &sdot; ${tweet.published_at}</span></div>
                    <div class="medium">${tweet.content|urlize|linkify_twitter_status|url_target_blank}</div>
                </div>
                <div class="card-actions">
                    <ul>
                        <li><a href="#"></a></li>
                        :#
                            <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Audio"><i class="fa fa-music"></i></a></li>
                            <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Video"><i class="fa fa-video-camera"></i></a></li>
                            <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Sound Record"><i class="fa fa-microphone"></i></a></li>
                            <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
                    </ul>
                    :if tweet.published_at == None
                        :a(_class="btn btn-sm btn-success", href=url("publish", kwargs={'pk': tweet.id}))
                            <i class="fa fa-send"></i> Publish
                        :a(_class="btn btn-sm btn-danger", href=url("delete", kwargs={'pk': tweet.id}))
                            <i class="fa fa-remove"></i> Delete
                    :else
                        :a(_class="btn btn-sm btn-warning", href=url("retweet", kwargs={'pk': tweet.id}))
                            <i class="fa fa-retweet"></i> Retweet
                    :div(_class="clearfix")
                </div>

:%footer_base
:%footer
:base(head_title="Feed")
