:import "base.html"
:@load_lib('bootstrap')
:@body_class = (user.is_authenticated() != True) and 'home' or ''

:%theme_script
    :if user.is_authenticated()
        ${form.media}

:%content
    :if user.is_authenticated()
        :h1(_class="text-center")
            Something to share?
        :div(_class="col-md-8 col-md-offset-2")
            :div(_class="card clearfix")
                <form action="" method="POST">
                <div class="card-content clearfix">
                    :csrf_token_input
                    :div(_class="row")
                        ${form | bootstrap}
                </div>
                <div class="card-actions">
                    <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-share"></i> Share</button>
                    :a(_class="btn btn-sm btn-default", href="%s?random_content=1" % url("home"))
                        <i class="fa fa-random"></i> Random
                    <button type="submit" class="btn btn-sm btn-success" name="draft" value="1"><i class="fa fa-save"></i> Save draft</button>

                    :div(_class="clearfix")
                </div>
                </form>
    :else
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <div style="background-color: transparent; position: fixed; width:80%; margin-left: 5%; color: #fff" class="jumbotron clearfix">
                        <h1>Join the family! <small>amplify your voice</small></h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin turpis quam, sollicitudin eu ultrices eu, venenatis at neque. Sed vitae mi ac lectus feugiat facilisis. Sed sed urna metus.</p>
                        <p>
                            :a(_class="btn btn-primary btn-lg", role="button", href=url('social:begin', kwargs={'backend':'twitter'}))
                                <i class="fa fa-{{ 'twitter'|icon_name }}"></i>
                                Join
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>    
:%footer_base
:%footer
:base(head_title="Home")