:import "base.html"
:@load_lib('bootstrap')
:@body_class = (user.is_authenticated() != True) and 'home' or ''

:%theme_script
    ${form.media}

:%content
    :if user.is_authenticated()
        :br
        :div(_class="col-md-6 col-md-offset-3")
            :div(_class="card clearfix")
                <form action="" method="POST">
                <div class="card-content clearfix">
                    :#<div class="title"><strong>${user}</strong>&nbsp;<span style="color: #999">@${user} &sdot; New</span></div>
                    :csrf_token_input
                    :div(_class="row")
                        ${form | bootstrap}
                </div>
                <div class="card-actions">
                    <ul>
                        <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Audio"><i class="fa fa-music"></i></a></li>
                        <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Video"><i class="fa fa-video-camera"></i></a></li>
                        <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Sound Record"><i class="fa fa-microphone"></i></a></li>
                        <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
                    </ul>
                    <button type="submit" class="btn btn-success green"><i class="fa fa-share"></i> Share</button>
                </div>
                </form>
    :else
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <div style="background-color: transparent; position: fixed; width:80%; margin-left: 5%; color: #fff" class="jumbotron clearfix">
                        <h1>Join the family! <small>amplify your voice</small></h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin turpis quam, sollicitudin eu ultrices eu, venenatis at neque. Sed vitae mi ac lectus feugiat facilisis. Sed sed urna metus.</p>
                        <p>
                            :a(_class="btn btn-primary btn-lg", role="button", href=url('social:begin', kwargs={'backend':'twitter'}))
                                <i class="fa fa-{{ 'twitter'|icon_name }}"></i>
                                Join
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>    
:%footer_base
:%footer
:base(head_title="Home")